appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854210220/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046170920/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1648793533294/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1649035262890/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1649586388483/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1648319183091/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1649448510262/work
GDAL==3.4.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1638382567988/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1649684340534/work/dist/ipykernel-6.13.0-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1648413604633/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1649067453550/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1649340884673/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1645024586188/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1648854667437/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737610588/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359003068/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
munch==2.5.0
munkres==1.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1649567584534/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649572703737/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1649818043148/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1649130487073/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1648873054630/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1646811389962/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857336495/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1649055699015/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1649367806838/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464192209/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357305329/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1649587971703/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827310178/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111966296/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1649934406482/work
